{% extends 'main/base.html' %} {% load markdown_extras %}

<!-- Blogs Main Page -->

{% block title %} blogs {% endblock %}

{% block content %}

<main class="px-2 py-3">
  <div class="container col-lg-9">
    <div class="d-flex flex-column">
      <h1 class="text-center mb-5 display-5 fw-semibold">Welcome to my blogs :D</h1>
      <div class="row g-3">
        {% for post in posts %}
        <a
          href="{% url 'post' post.slug %}"
          class="text-reset text-decoration-none">
          <div class="d-flex align-items-start">
            <!-- <div style="height: 7rem" class="me-md-5 me-4 col-md-2 col-3">
              <img
                style="object-fit: cover"
                class="w-100 h-100"
                src="{{ blog.blog_image.url }}"
                alt="{{blog.title}}" />
            </div> -->
            <div class="col-md-9 col-8 pe-3">
              <h2 class="fw-semibold fs-4">{{ post.title }}</h2>
              <p class="fs-5 text-truncate mb-2">
                {{ post.description | markdown | safe}} 
              </p>
              <small class="lead fs-6">{{ post.created_at }}</small>
            </div>
            <div class="my-auto ms-auto">
              <i class="fa-solid fa-arrow-right fs-3"></i>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}