{% extends 'main/base.html' %} {% load markdown_extras %}
{% block title %} {{ challenge.title }} {% endblock %}


<!-- Blog Page -->
{% block content %}
<main class="px-2 py-3">
  <div class="container col-lg-7">
    <div class="d-flex flex-column align-items-start">
      <h1 class="display-5 fw-semibold">{{ challenge.title }}</h1>
      <p class="text-secondary lead">{{ challenge.created_at }}</p>
      <div class="border-top border-2 fs-5 my-4 w-100">
        <p class="mt-4">{{ challenge.story | markdown | safe }}</p>
      </div>
    </div>
  </div>
</main>

{% endblock %}
