{% extends 'main/base.html' %}
{% block title %} Home Page {% endblock title %}

{% block content %}

  {% load static %}
  <img src="{% static 'main/harumiya_pfp.jpg' %}" alt="pfp">
  

  <!-- SPECIAL CHALLENGES LOG -->


  <div>
    <h1>Sherzod Otajonov</h1>
    <p>
      Hey welcome to my blog :p I'm Sherzod Otajonov, or you might know me as Harumiya.
      I am currently a student at Vistula University, Warsaw. Go ahead and check out some of my 
      <a href="">Blogs</a> or <a href="">Projects</a>. Or you can read a little more about me, my interests,
      and experience below &lt;3
    </p>
  </div>

  <div>
    <h1>Passions</h1>
    <p>
      I'm quite enthusiastic about Competative Programming(CP) but I unfortunately haven't been able to
      do any CP for almost a year. I do plan to get back into it slowly though(wish me luck :D).
      Besides that I'm also interested in Web-dev though I'm not a big fan of styling side of it, this
      website is a proof lol. I have been meaning to explore some AI/ML stuff somewhere down the line as well 
      but I currently have a lot to learn with higher priority that that.

      Outside of these STEM stuff, I'm a music lover(I mostly listen to Pop ig idk). I almost always have
      spotify playing on the background :p
      Reading is a hobbie I picked up recently and it has been quite fun. I had been reading manga for a while 
      now but was never really into nowels/books. Im primarily reading Young-Adult Rom-Fantasy.
      Last book I started:
      
      <img src="{% static 'main/ugly_love.jpg' %}" alt="book im reading right now">
    </p>
  </div>

  <div>
    <h1>So what's my deal?</h1>
    <p>
      Well I'm 21 years old, currently living in Warsaw, Poland. I was supposed to graduate this spring
      but I'm starting semester 5 this October. Why? Well covid-19 hit me harder than it did most. I went though a severe depression during which I lost interest
      in everything including my studies. Having no one to talk to made it even more difficult and I was not
      able to tell my parents about it either since they were not particularly happy about me choosing to study abroad so they 
      would probably just blame that. I distenced myself from everyone to the point where I didnt even speak for weeks 
      at all. I fortunately met some amazing people who helped me get through it all. I have since been trying
      to better my relationship with my parents and friends, and overall trying to follow a healthy lifestyle.
      This also reminds me of one quote thats stuck in my head:
      "An attitude change, even if it seems forced at first, does wonders."

      <img src="{% static 'main/EREN_FINALLY_FREE.jpg' %}" alt="eren finally free? panel">
      
      Regarding career, out of all the areas I have explored  so far I found Backend Engineering to be the career I can pursue and enjoy.
      But I still consider myself young and am willing to try out many more :)
    </p>
  </div>
{% endblock %}
